body {
	margin: 0;
}

.over {
	/*overflow: hidden;*/
}


/*Phan header chung*/

.menubar {
	overflow: hidden;
	position: fixed;
	width: 100%;
	background: rgba(0,0,0,0.5); /*#181b2187*/;
	z-index: 1;
}

.topnav {
	padding: 23px 25px;
	color: #fff;
}

.topnav:hover, .active {
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	cursor: pointer;
}

.menubar a {
	float: right;
	color: #fff;
	/*padding: 23px;*/
	text-decoration: none;
	font-family: Tahoma;

}

.searchbox {
	width: 15%;
	float: right;
	padding-right: 30px;
	padding-left: 30px;
}

.search {
	width: 100%;
	box-sizing: border-box;
	padding: 15px;
	display: flex;
}

.search input {
	padding: 8px;
	height: 20px;
	border-radius: 10px 0 0 10px;
	width: 100%;
	border: none;
}

.search input:focus {
	
}

.search button {
	width: 50px;
	height: 36px;
	text-align: center;
  	padding: 0px 15px;
 	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
	color: #000;
	border-radius: 0 10px 10px 0;
}

.search button:hover {
	background: #bbb;
}

#headerimage {
	width: 100%;
	height: 400px;
	background-image: url(../image/image19.jpg);
	background-size: cover;
	background-position: top;
	filter: grayscale(20%);
	background-attachment: fixed;
}

/*Phan dung chung cho toan trang web*/

button {
	font-size: 16px;
	background-color: #3399ff;
	color: white;
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #888;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*overflow: auto;*/
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.form b {
	font-size: 18px;
}

.modal span {
	float: right;
	font-size: 25px;
	cursor: pointer;
}

details, label, button {
	cursor: pointer;
}
