.title {
	margin-top: 50px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.table table {
	width: 75%;
	border-collapse: collapse;
	margin: 0 auto;
}

th, td {
	border: 1px solid #999;
	padding: 10px;
}

th {
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #4CAF50;
  color: white;
  /*border: 1px solid #4CAF50;*/
  font-size: 17px;
}

.table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.table tr:hover {
	background-color: #ddd;
}