body {
	font-family: Arial;
/*	height: 100%;
	width: 100%;*/
}

.rcmd {
	width: 100%;
	height: 90px;
}

.rcmd span {
	float: left;
	margin-top: 40px;
	margin-left: 40px;
	font-size: 18px;
	font-weight: bold;
}

.rcmd button {
	float: right;
	margin-top: 40px;
	margin-right: 80px;
	width: 160px;
}

.rcmd_food {
	/*width: 100%;*/
	height: 330px;
	padding: 20px;
	/*margin-top: 20px;*/
}

.rcmd_food .rcmd_img {
	width: 16%;
	height: 250px;
	margin: 20px;
	float: left;
	overflow: hidden;
	border: 1px solid #fff;
	border-radius: 10px;
	cursor: pointer;
}

.rcmd_food .rcmd_img:hover {
	/*border: 1px solid #888;*/
}

.rcmd_food .rcmd_img img {
	height: 180px;
}

.rcmd_food .rcmd_img img:hover {
	opacity: 0.5;
}

.rcmd_food div p {
	margin-left: 40px;
	font-size: 18px;
}

.rcmd_food .rcmd_img .name {
	float: left;
	margin-left: 10px;
	margin-top: 15px;
	margin-bottom: 20px;
	width: 60%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.rcmd_food .rcmd_img .price {
	float: right;
	margin-right: 10px;
	margin-top: 15px;
	margin-bottom: 20px;
	margin-left: auto;
}

.more_img {
	width: 16%;
	height: 250px;
	margin: 20px;
	float: left;
	overflow: hidden;
	border: 1px solid #fff;
	border-radius: 10px;
}

.more_img img {
	height: 180px;
}

#randomModal {
	padding-top: 100px;
}

.randomModal {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    /*border: 1px solid #888;*/
    width: 45%;
    border-radius: 20px;
    overflow: auto;
}

.randomModal form {
	margin-top: 20px;
	margin-bottom: 10px;
}

.button {
	text-align: center;
}

.button button {
	margin: 10px;
}

.form {
	width: 70%;
	margin: auto;
	display: block;
	height: 70px;
}

.form select, .form input{
    float: right;
    width: 70%;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #888;
}

.form input {
	width: 65%;
}

.detailImage {
	width: fit-content;
	/*height: 300px;*/
	margin: auto;
	/*overflow: hidden;*/
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
	/*border-radius: 15px;*/
	/*border: 1px solid #ddd;*/
	align-items: center;
}

.detailImage img {
	height: 240px;
	border-radius: 15px;
	border: 1px solid #ddd;
}

.detailInfo {
	width: 60%;
	margin: auto;
}

.detailInfo th {
	text-align: left;
	padding: 15px;
}

.detailInfo td {
	/*text-align: center;*/
	padding: 15px;
}

.detailModal {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    /*border: 1px solid #888;*/
    width: 40%;
    border-radius: 20px;
    overflow: auto;
}

#detailModal {
	padding-top: 60px;
}

.detailModal button {
	width: 130px;
	margin-bottom: 20px;
}