.sidebar {
	width: 18%;
	height: 100%;
	float: left;
	/*display: inline;*/
	position: absolute;
	/*background: #555;*/
	padding-top: 100px;
	padding-left: 40px;
	
}

.sidebar details {
	margin-top: 25px;
}

.sidebar summary {
	padding: 5px;
	font-size: 18px;
	font-weight: bold;
}

.sidebar form {
	margin: 10px;
}

.sidebar input {
	margin: 10px;
}

.food_list {
	width: 75%;
	float: right;
	margin-top: 50px;
	/*position: absolute;*/
}

.food_list .image {
	width: 17%;
	float: left;
	overflow: hidden;
	margin: 10px;
	border: 1px solid #fff;
	border-radius: 10px;
}

.food_list .image:hover {
	border: 1px solid #bbb;
}

.food_list .image img:hover {
	opacity: 0.5;
}

.food_list .image img {
	width: auto;
	height: 130px;
}

.food_list .image .name {
	float: left;
	margin-left: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
	width: 60%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.food_list .image .price {
	float: right;
	margin-right: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
}

.addBtn {
	height: 90px;
	
}

#addFood {
	float: right;
	margin-top: 40px;
	margin-right: 80px;
	width: 160px;
}

.foodModal {
    background-color: #fff;
    margin: auto;
    margin-top: 70px;
    padding: 20px;
    width: 55%;
    border-radius: 20px;
    overflow: auto;
}

.foodContent {
	height: 440px;
	display: block;
}

.foodImage {
	width: 250px;
	height: 250px;
	float: left;
	border: 1px solid #ccc;
	border-radius: 15px;
	overflow: hidden;
	margin-left: 25px;
	margin-top: 70px;
	position: relative;
}

.foodImage img {
	height: 100%;
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.foodInfo {
	float: right;
	width: 60%;
	margin: auto;
	margin-top: 30px;
}

.foodInfo th {
	text-align: left;
	padding: 15px;
}

.foodInfo td {
	/*text-align: center;*/
	padding: 15px;
}

.form {
	width: 75%;
	margin: auto;
	display: block;
	height: 65px;
}

.form select, .form input{
    float: right;
    width: 69%;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #888;
}

.form input {
	width: 62.5%;
}

.button {
	display: block;
	text-align: center;
}

.foodModal button {
	width: 130px;
	margin: 0px 5px 20px 5px;
}

#delete {
	background: #f55;
	border: 1px solid #888;
}

.sidebar label {
	/*padding: 5px;*/
	/*display: inline-block;*/
}

#back {
	background: #eee;
	border: 1px solid #888;
	color: #333;
}

.sidebar input[type=checkbox] {
	display: none;
}

.sidebar .checkbox {
	/*position: relative;*/
	width: 17px;
	height: 17px;
	border-radius: 4px;
	/*transform: scale(1)*/
	vertical-align: middle;
	border: 1px solid #9098A9;
	/*transition: all .2s ease*/
	display: inline-block;
	margin: 5px;
}