.title {
	margin-top: 50px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.table table {
	width: 70%;
	border-collapse: collapse;
	margin: 0 auto;
}

th, td {
	border: 1px solid #999;
	padding: 10px;
}

th {
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #4CAF50;
  color: white;
  /*border: 1px solid #4CAF50;*/
  font-size: 17px;
}

.table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.table tr:hover {
	background-color: #ddd;
}

.modal {
	padding-top: 100px;
}

.termModal {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    /*border: 1px solid #888;*/
    width: 45%;
    border-radius: 20px;
    overflow: auto;
}

.termModal form {
	margin-top: 20px;
	margin-bottom: 10px;
}

.button {
	text-align: center;
}

.button button {
	margin: 10px;
}

.form {
	width: 75%;
	margin: auto;
	display: block;
	height: 70px;
}

.form select, .form input, .form textarea {
    float: right;
    width: 65%;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #888;
}

.form input, .form textarea {
	width: 60%;
}

.form textarea {
    height: 80px;
}

#textarea {
    height: 130px;
}

.editTerm {
	cursor: pointer;
}